.nav-menu-item{
    display: flex;
    align-items: center;
    //justify-content: center;
    color: white;
    
}

.a-menu{
    border-bottom: 1px solid rgb(66, 66, 66);
}

.nav-menu-text{
    padding-left: 1rem;
    font-weight:500;
}

.nav-menu-icon{
    
}