<mat-nav-list>

  <a mat-list-item [routerLink]="['/detail']" class="nav-a-menu" *ngIf="true">
    <div class="nav-menu-item">
      <mat-icon class="nav-menu-icon">home</mat-icon>
      <span class="nav-menu-text"> Inicio</span>
    </div>
  </a>

  <mat-expansion-panel mat-list-item class="nav-expansion-panel" [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header class="nav-menu-item">

        <mat-icon>home</mat-icon>
        <span class="nav-menu-text"> Inicio</span>
      
    </mat-expansion-panel-header>
    
    <mat-nav-list>
      
      <a mat-list-item [routerLink]="['/detail']" *ngIf="true">
        <div class="nav-menu-item">
          <mat-icon>arrow_right</mat-icon>
          <span class="nav-menu-text"> Inicio</span>
        </div>
      </a>

      <a mat-list-item [routerLink]="['/detail']"*ngIf="true">
        <div class="nav-menu-item">
          <mat-icon>arrow_right</mat-icon>
          <span class="nav-menu-text"> Inicio</span>
        </div>
      </a>

    </mat-nav-list>
  </mat-expansion-panel>

</mat-nav-list>