.nav-expansion-panel{
    border-radius: none;
    border-bottom: 1px solid rgb(66, 66, 66);
}

.nav-expansion-panel, .nav-menu-item{
    background-color: rgb(49, 51, 63);
    color: white;
    font-size: 1rem;
}

.nav-menu-item{
    display: flex;
    align-items: center;
}

.nav-menu-text{
    padding-left: 1rem;
    font-weight:500;
}

.nav-a-menu{
    border-bottom: 1px solid rgb(66, 66, 66);
    padding-left: 1.5rem;
}

::ng-deep .mat-expansion-indicator::after, 
.mat-expansion-panel-header-description{
    color: white !important;
}


