
<div class="login-content">
    
    

    <mat-card class="card" color="primary">
        <mat-card-content class="card-content">

            <img class="ima-login" src="https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg">

            <!-- <div class="login-title">
                <span>Iniciar Sesión</span>
            </div> -->

            <div class="text-login">
                <span>Ingresa tu usuario y contraseña.</span>
            </div>

            <form class="form-login">

                <mat-form-field class="full-width">
                  <mat-label>Usuario</mat-label>
                  <input type="text" matInput placeholder="Ingrese usuario">
                  <mat-icon class="icon-color" matSuffix>person</mat-icon>
                </mat-form-field>
              
                <mat-form-field class="full-width">
                  <mat-label>Contraseña</mat-label>
                  <input type="password" matInput placeholder="Ingrese contraseña">
                  <mat-icon class="icon-color" matSuffix>lock</mat-icon>
                </mat-form-field>

                <button mat-raised-button color="primary" class="full-width">Ingresar</button>

              </form>

        </mat-card-content>
    </mat-card>
</div>

