@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$blue-palette, 700, 300, 900);
$my-accent: mat.define-palette(mat.$deep-purple-palette, 600, 400, 900);
$my-warn: mat.define-palette(mat.$red-palette, 700, 400, 900);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);